@font-face {
    font-weight: 700;
    font-family: "Roboto Bold";
    src: url("/fonts/Roboto Bold.ttf");
}

@font-face {
    font-weight: 400;
    font-family: "Roboto Regular";
    src: url("/fonts/Roboto Regular.ttf");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;

    font-family: "Roboto Bold", sans-serif;
    color: #FFFFFF;
}

h1 {
    font-family: "Roboto Bold", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.5;
    text-transform: uppercase;

    margin: 0;
}

@media only screen  
and (max-device-width: 480px) {
    h1 {
        font-family: "Roboto Bold", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 1.5;
        text-transform: uppercase;
        text-align: center;
    
        margin: 0;

    }
    
}

h2 {
    font-family: "Roboto Bold", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;

    margin: 0;
}

@media only screen 
and (max-device-width: 480px) {
    h2 {
        font-size: 18px;
        line-height: 1.5;
    }
    
}

h3 {
    font-family: "Roboto Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    text-transform: uppercase;

    padding-bottom: 100px;

}

@media only screen 
and (max-device-width: 480px) {
    h3 {
        font-size: 16px;
        line-height: 1.5;
    }
    
}

.text-size-1 {
    font-family: "Roboto Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
}

@media only screen 
and (max-device-width : 480px) {
    .text-size-11 {
        font-family: "Roboto Regular", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #FFFFFF;
    }
}

@media only screen 
and (max-device-width : 480px) {
    .text-size-11 {
        font-family: "Roboto Regular", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #FFFFFF;
        text-align: center;
    }
}

.text-size-2 {
    font-family: "Roboto Regular", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
}

.text-size-3 {
    font-family: "Roboto Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.5;
    text-transform: uppercase;
}

.text-size-33 {
    font-family: "Roboto Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.5;
    text-transform: capitalize;
}

@media only screen 
and (max-device-width : 480px) {
    .text-size-33 {
        font-family: "Roboto Regular", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-transform: capitalize;
    }
}

.text-size-7 {
    font-family: "Roboto Bold", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 1.5;
    text-transform: uppercase;
}

.text-size-7 > sup {
    font-size: 32px;
}

.text-small {
    font-family: "Roboto Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5;

    padding-top: 60px;
    text-align: center;
}

.text-menu {
    font-family: "Roboto Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.5;
    text-transform: uppercase;
}

form > .send {
    font-family: "Roboto Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.5;
    text-transform: uppercase;
    
    color: #FFFFFF;
    border-color: transparent;
}

.author {
    font-family: "Roboto Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5;
    text-transform: capitalize;
    color: #F89202;
}

.date {
    font-family: "Roboto Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5;
    color: #CACACA;
}

.mobile-app-button {
    font-family: "Roboto Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 4;
}

.wrapper {  
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;

}
header {
    display:flex;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 20px;

    flex-wrap: wrap;
}

@media only screen 
and (max-device-width: 480px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    
        margin-top: 25px;
        flex-wrap: wrap;
    }

}

nav > a {
    font-size: 11px;
    line-height: 1.5;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    transition: all 0,3s ease;

}

@media only screen 
and (max-device-width : 480px) {
    nav > a {
        line-height: 0;

    }

}

/* чего ты не меняешь цвет вражина?
label > .placeholder {
    font-family: "Roboto Bold", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    
    color: #FFFFFF;
}
*/
.footer-column > a {
    font-family: "Roboto Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;

    color: #FFFFFF;

}

.footer-some-data > a {
    font-family: "Roboto Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;

    color: #FFFFFF; 
}
.main-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 50%;
    
}

@media only screen 
and (max-device-width : 480px) {
    .main-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 50%;
    }

}

.main-menu > a {
    padding: 12px;
}

.first-bg {
    position: fixed;
    z-index: -1;
    top:0;
    left:0; 
    min-width:100%;
    min-height:100%;
}
.logotype {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 10%;

    text-decoration: none;
    color: #FFFFFF;
}

@media only screen 
and (max-device-width : 480px) {
    .logotype {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 50%;

        text-decoration: none;
        color: #FFFFFF;
    }

}

.logotype > div {
    padding: 8px;
}

.search > input {
    
    min-width: 245px;
    max-width: 370px;
    height: 25px;

    padding-left: 10px;

    background: #3C3B3D;
    border-radius: 50px;
    border-color: transparent;
}

div[class="main-info"] {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 100px; 
    margin-bottom: 200px;

}

@media only screen 
and (max-device-width : 480px) {
    div[class="main-info"] {
        display: flex;
    
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        margin-top: 60px; 
        margin-bottom: 100px;
        padding: 0 20px;
    }
}

.data-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
}

@media only screen 
and (max-device-width : 480px) {
    .data-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        width: 100%;
    }
}

form > .input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 20px;
    width: 100%;
    max-width: 570px;
}

@media only screen 
and (max-device-width : 480px) {
    form > .input {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        padding: 20px 20px 0 20px;
        width: 100%;
    }
}

label > input {
    border: 2px solid #CACACA;
    box-sizing: border-box;
    border-radius: 3px;
    background: transparent;
    
    height: 50px;
    padding: 5px;    
    min-width: 250px;
}

@media only screen 
and (max-device-width : 480px) {
    label > input {
        border: 2px solid #CACACA;
        box-sizing: border-box;
        border-radius: 3px;
        background: transparent;
        
        height: 50px;
        padding: 5px;    
        width: 100%;

        margin-bottom: 24px;
    }
}

.send { 
    width: 100%;
    max-width: 570px;
    height: 55px;
    background: #34C176;
    border-radius: 5px;
    margin: 0;
}

div[class="form-subscribe"] {
    background: #08020D;

    padding: 50px;

}

@media only screen 
and (max-device-width : 480px) {
    div[class="form-subscribe"] {
        background: #08020D;
    
        padding: 50px;
    
    }
}

.subscribe-types {
    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.subscribe-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 300px;
    max-width: 320px;
    margin: 22px;

    padding: 22px;

    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    padding-top: 32px;
    padding-bottom: 100px;
}

@media only screen 
and (max-device-width : 480px) {
    .subscribe-type {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        min-width: 300px;
        max-width: 320px;
        margin: 20px 0;
    
        padding: 5px;
    
        border-radius: 15px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    
        padding-top: 32px;
        padding-bottom: 100px;
    }
}

.background-free {
    background-image: url(img/Free-Bg.png);
}

.background-standart {
    background-image: url(img/Standart-Bg.png);
}

.background-premium {
    background-image: url(img/Premium-Bg.png);
}

.button-subscribe {
    box-sizing: border-box;
    height: 65px;
    padding: 5px;
    width: 100%;

    border: 1px solid #FFFFFF;
    border-radius: 5px;
    background: transparent;

    text-align: center;
}

div > .button-subscribe {
    text-decoration: none;
}

.subscribe-text {
    max-width: 1200px;
    text-align: center;
}

.news {
    background: #08020D;

}
.news-items {
    background: #08020D;

    padding: 50px;

    display: flex;
    flex-direction: row;

    max-width: 1200px;
}

@media only screen 
and (max-device-width : 480px) {
    .news-items {
        background: #08020D;
    
        padding: 0 5px;
    
        display: flex;
        flex-direction: column;

    }
}
.news-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

@media only screen 
and (max-device-width : 480px) {
    .news-item {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        width: 100%;

        margin: 50px 0 0 0;
    
    }
}

.news-img {
    padding-left: 25px;
    padding-right: 25px;

    max-width: 600px;

}

@media only screen 
and (max-device-width : 480px) {
    .news-img {
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .news-img > img {
        width: 100%;
    }   
    
}

.news-text {
    padding-left: 25px;
    padding-right: 25px;

    max-width: 600px;
}

@media only screen 
and (max-device-width : 480px) {
    .news-text {
        padding-left: 5px;
        padding-right: 5px;
    }

    .news-text > text-size-1 {
        width: 100%;
    }
}

@media only screen 
and (max-device-width : 480px) {
    .order-1 {
        order: -1;
    }
}

.article-info {
    display: flex;

    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.article-info > div {
    padding: 8px;
}

.to-albom {
    display: block;
    box-sizing: border-box;
    width: 135px;
    height: 53px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    background: transparent;
    text-align: center;
}

div > .to-albom {
    text-decoration: none;
}

.mobile-app {
    background: #08020D;

}

@media only screen 
and (max-device-width : 480px) {
    .mobile-app {
        background: #08020D;

        padding-top: 50px;
    }
}
.mobile-blocks {
    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    max-width: 1200px;

}

@media only screen 
and (max-device-width : 480px) {
    .mobile-blocks {
        display: flex;
    
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
}




.mobile-block {
    padding: 20px;
    width: 60%;
}

.mobile-block:nth-child(2) {
    width: 40%;
}

@media only screen /* в мобильной версии не убирается мин-видз */
and (max-device-width : 480px) {
    .mobile-block {
        padding: 20px;
        width: 100%;
    }
    
    .mobile-block:nth-child(2) {
        width: 100%;
    }
}

.mobile-block > img {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen 
and (max-device-width : 480px) {
    .mobile-block > img {
    
        display: block;
        width: 100%;
    }
}

.mobile-app-button {
    display: block;
    box-sizing: border-box;
    width: 131px;
    height: 53px;
    background: #95390C;
    border-radius: 32px;

    text-decoration: none;
    color: #ffffff;
    text-align: center;
}

footer {
    background: linear-gradient(90deg, #5328A1, #95390C);
    padding: 60px 100px;
}

@media only screen 
and (max-device-width : 480px) {
    footer {
        background: linear-gradient(90deg, #5328A1, #95390C);
        padding: 50px 20px;
    }
}
.footer-menu {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

@media only screen 
and (max-device-width : 480px) {
    .footer-menu {

        display: flex;
        flex-direction: column;
        justify-content:flex-start;
    
    }
}
.footer-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-column > .text-size-2 {
    padding-bottom: 1em;
}

@media only screen 
and (max-device-width : 480px) {
    .footer-column > .text-size-2 {
        padding-bottom: 1em;
        padding-top: 1em;
    }
}
.socials {
    display: flex;
    flex-direction: row;

}
.socials > a {
    padding: 20px 12px;
}

.footer-some-data {
    display: inline-block;
  
}

@media only screen 
and (max-device-width : 480px) {
    .footer-some-data {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      
    }
}

.border {
    border-bottom: 1px solid #E0E0E0;
}

.footer-some-data > a {
    padding-right: 15px;
}

@media only screen 
and (max-device-width : 480px) {
    .footer-some-data > a {
        padding-bottom: 1em;
    }
}