body.lock {
	overflow: hidden;
}

input {
	transition: all 0.3s ease;

}

input:focus-visible {
	color: #fff;
	box-shadow: 0 0 4px 0 #fff inset, 0 0 10px 0 #fff;
}

p {
	font-family: 'Roboto Regular', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	padding-bottom: .5em;
}