.artist-screen {
    background-image: url("../img/banner-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    // .arist-screen__container

    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    // .artist-screen__sub-title

    &__sub-title {}

    // .artist-screen__button-block

    &__button-block {
        & button {
            border-radius: 5px;
            width: 200px;
            padding: 22px 31px;
            display: inline-block;
        }
    }
}

.mix {
    background: #5328A1;

}

.favourite {
    background: #95390C;
}