@font-face {
    font-weight: 400;
    font-family: "Roboto Regular";
    src: url("../fonts/Roboto Regular.ttf");
    font-style: normal;
}

@font-face {
    font-weight: 700;
    font-family: "Roboto Bold";
    src: url("../fonts/Roboto Bold.ttf");
    font-style: normal;
}

body {
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;

    font-family: "Roboto Regular", sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
}

.wraper {
    margin: 0 auto;
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;

}

h1 {
    font-family: "Roboto Bold", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.5;
    text-transform: uppercase;

    margin: 0;
}

@media only screen and (max-device-width: 480px) {
    h1 {
        font-family: "Roboto Bold", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 1.5;
        text-transform: uppercase;
        text-align: center;

        margin: 0;

    }

}

h2 {
    font-family: "Roboto Bold", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;

    margin: 0;
}

@media only screen and (max-device-width: 480px) {
    h2 {
        font-size: 18px;
        line-height: 1.5;
    }

}

h3 {
    font-family: "Roboto Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 0;
}

@media only screen and (max-device-width: 480px) {
    h3 {
        font-size: 16px;
        line-height: 1.5;
    }

}

button {
    cursor: pointer;
}

* {
    box-sizing: border-box;
}