.discography {
    background-color: #08020D;
    // .mobapp__container

    &__container {
        padding-top: 100px;
    }

    // .mobapp__title

    &__title {
        margin-bottom: 48px;
    }

    &__block {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
        row-gap: 5px;
    }

    // .discography__item

    &__item {
        padding: 10px;
        transform: 0.3 all ease;
        display: block;

        &:hover,
        &:active {
            border-radius: 5px;
            background-color: #2c2c2c;
        }

        &:focus {
            border-radius: 5px;
            background-color: #4d4c4c;
        }
    }

    // .discography__item-image

    &__item-image {
        margin-bottom: 18px;
        max-width: 250px;
        min-width: 115px;
        max-height: 250px;
        min-height: 115px;

        & img {
            object-fit: cover;
        }
    }

    // .discography__item-title

    &__item-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
        text-decoration: none;
        color: #fff;
    }

    // .discography__item-year

    &__item-year {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #E0E0E0;
    }
}

@media (max-width: 900px) {
    .discography {
        &__block {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media (max-width: 600px) {
    .discography {
        &__block {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}