.footer {
    background: linear-gradient(265.08deg, #95390C 14.9%, #5328A1 68.95%);
    padding-top: 22px;
    padding-bottom: 49px;
    // .footer__row

    &__row {
        padding-top: 40px;

        &:first-child {
            padding-bottom: 72px;
            border-bottom: 1px solid #fff;

            & .wraper {
                display: grid;
                column-gap: 40px;
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
    }

    & .wraper {
        display: flex;
    }

    & a {
        text-decoration: none;
        transition: all 0.3s ease;

        &:hover,
        &:active {
            color: #FFFFFF;
            text-shadow: 2px 0 5px #fff;
        }
    }

    // .footer__column

    &__column {
        color: #FFFFFF;
    }

    // .footer__column-title

    &__column-title {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
        text-transform: uppercase;
        padding-bottom: 15px;

    }

    &__column-info {
        display: flex;
        flex-direction: column;
    }

    // .footer__text

    &__text,
    & a {
        line-height: 150%;
        color: #E0E0E0;
    }

    // .footer__socials

    &__socials {
        flex-direction: row;

        & a {
            padding-right: 24px;

            &:last-child {
                padding-right: 0;
            }
        }
    }

    &__column>a {
        display: inline-block;
        padding-right: 16px;

        &:last-child {
            padding-right: 0;
        }
    }
}

@media (max-width: 800px) {
    .footer {
        &__row {
            &:first-child {
                & .wraper {
                    row-gap: 30px;
                    grid-template-columns: 1fr 1fr;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .footer {
        &__row {
            &:first-child {
                & .wraper {
                    grid-template-columns: 1fr;
                }
            }

            &:last-child {
                & .footer__column {
                    display: flex;
                    flex-direction: column;

                    &>a {
                        margin-bottom: 16px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}