.mobapp {
    background-color: #08020D;
    // .mobapp__container

    &__container {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    // .mobapp__title

    &__title {
        margin-bottom: 48px;
    }

    // .mobapp__block

    &__block {
        display: flex;
        // flex: 0 1 50%;
    }

    // .mobapp__collumn-text
    // .mobapp__collumn-img
    &__column-text,
    &__column-img {
        flex: 50% 0 0;
    }

    // .mobapp__link

    &__link {
        font-size: 12.8px;
        display: inline-block;
        margin-top: 16px;
        background: #95390C;
        border-radius: 32px;
        padding: 17px 40px;
        line-height: 150%;
        color: #FFFFFF;
    }

    &__column-img {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 100%;
            max-height: 300px;
            object-fit: cover;
        }
    }
}

@media (max-width: 700px) {
    .mobapp {
        &__block {
            flex-direction: column-reverse;
        }

        &__column-img {
            margin-bottom: 16px;
        }
    }
}