<section class="discography">
    <div class="wraper">
        <div class="discography__container">
            <div class="discography__title">
                <h2>Дискография</h2>
            </div>
            <div class="discography__block">
                <div class="discography__item">
                    <div class="discography__item-image">
                        <img src="../img/albom-1.png" alt="">
                    </div>
                    <div class="discography__item-title">Brother</div>
                    <div class="discography__item-year">2020</div>
                </div>
                <div class="discography__item">
                    <div class="discography__item-image">
                        <img src="../img/albom-2.png" alt="">
                    </div>
                    <div class="discography__item-title">Out Of My Hands</div>
                    <div class="discography__item-year">2012</div>
                </div>
                <div class="discography__item">
                    <div class="discography__item-image">
                        <img src="../img/albom-3.png" alt="">
                    </div>
                    <div class="discography__item-title">Letter From Egypt</div>
                    <div class="discography__item-year">2008</div>
                </div>
                <div class="discography__item">
                    <div class="discography__item-image">
                        <img src="../img/albom-4.png" alt="">
                    </div>
                    <div class="discography__item-title">Vogts Vills</div>
                    <div class="discography__item-year">1996</div>
                </div>
                <div class="discography__item">
                    <div class="discography__item-image">
                        <img src="../img/albom-5.png" alt="">
                    </div>
                    <div class="discography__item-title">Wild Seed</div>
                    <div class="discography__item-year">1995</div>
                </div>
                <div class="discography__item">
                    <div class="discography__item-image">
                        <img src="../img/albom-6.png" alt="">
                    </div>
                    <div class="discography__item-title">Poetenes Evangelium</div>
                    <div class="discography__item-year">1993</div>
                </div>
            </div>
        </div>
    </div>
</section>