<footer class="footer">
  <div class="footer__row">
    <div class="wraper">
      <div class="footer__column">
        <div class="footer__column-title">О нас</div>
        <div class="footer__column-info">
          <a href="#">История компании</a>
          <a href="#">Карьера</a>
          <a href="#">Особенности</a>
          <a href="#">Пресса</a>
        </div>
      </div>
      <div class="footer__column">
        <div class="footer__column-title">Поддержка</div>
        <div class="footer__column-info">
          <a href="#">База знаний</a>
          <a href="#">Тарифы</a>
          <a href="#">Мобильное приложение</a>
          <a href="#">Условия использования</a>
        </div>
      </div>
      <div class="footer__column">
        <div class="footer__column-title">Контакты</div>
        <div class="footer__column-info">
          <a href="mailto:hello@music.box">hello@music.box</a>
          <div class="footer__text">Russia, Moscow. Music Box studio</div>
          <a href="tel:+749999999999">+ 7 499 999 99 999</a>
        </div>
      </div>
      <div class="footer__column">
        <div class="footer__column-title">Подписывайтесь</div>
        <div class="footer__column-info footer__socials">
          <a href="#"><img src="../img/Google+ 1.svg" alt="Google+" /></a>
          <a href="#"><img src="../img/Twitter 1.svg" alt="Twitter" /></a>
          <a href="#"><img src="../img/Facebook 1.svg" alt="Facebook" /></a>
          <a href="#"><img src="../img/Instagram 1.svg" alt="Instagram" /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__row">
    <div class="wraper">
      <div class="footer__column">
        <a href="#">Магазин</a>
        <a href="#">Обслуживание</a>
        <a href="#">Блог</a>
        <a href="#">Контакты</a>
      </div>
    </div>
  </div>
</footer>