<footer class="border">
  <div class="footer-menu">
    <div class="footer-column">
      <div class="text-size-2">О нас</div>
      <a href="#">История компании</a>
      <a href="#">Карьера</a>
      <a href="#">Особенности</a>
      <a href="#">Пресса</a>
    </div>
    <div class="footer-column">
      <div class="text-size-2">Поддержка</div>
      <a href="#">База знаний</a>
      <a href="#">Тарифы</a>
      <a href="#">Мобильное приложение</a>
      <a href="#">Условия использования</a>
    </div>
    <div class="footer-column">
      <div class="text-size-2">Контакты</div>
      <a href="mailto:hello@music.box">hello@music.box</a>
      <p class="text-size-1">Russia, Moscow. Music Box studio</p>
      <a href="+749999999999">+ 7 499 999 99 999</a>
    </div>
    <div class="subscribe">
      <div class="text-size-2">Подписывайтесь</div>
      <div class="socials">
        <a href="#"><img src="../layout-designer-project-lvl2/img/Google+ 1.svg" /></a>
        <a href="#"><img src="../layout-designer-project-lvl2/img/Twitter 1.svg" /></a>
        <a href="#"><img src="../layout-designer-project-lvl2/img/Facebook 1.svg" /></a>
        <a href="#"><img src="../layout-designer-project-lvl2/img/Instagram 1.svg" /></a>
      </div>
    </div>
  </div>
</footer>
<footer>
  <div class="footer-some-data">
    <a href="#">Магазин</a>
    <a href="#">Обслуживание</a>
    <a href="#">Блог</a>
    <a href="#">Контакты</a>
  </div>
</footer>
