<header class="header">
  <div class="wraper">
    <div class="header__container">
      <div class="header__item">
        <div class="header__sub-item">
          <a href="#" class="logo">
            <img src="img/logo-1.png" />
            <span class="logo-name">Music Box</span>
          </a>
        </div>
        <div class="header__sub-item">
          <nav class="main-menu">
            <ul class="main-menu__list">
              <li class="main-menu__list-item">
                <a href="#" title="Главная">Главная</a>
              </li>
              <li class="main-menu__list-item">
                <a href="#" title="Каталог">Каталог</a>
              </li>
              <li class="main-menu__list-item">
                <a href="#" title="Исполнители">Исполнители</a>
              </li>
              <li class="main-menu__list-item">
                <a href="#" title="Контакты">Контакты</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="header__item">
        <form class="search">
          <input type="text" placeholder="ПОИСК..." />
        </form>
      </div>
    </div>
  </div>
</header>
