<section class="main-screen">
  <div class="wraper">
    <div class="main-screen__container">
      <h1>Онлайн музыка где угодно</h1>
      <h2>без ограничений</h2>
      <div class="main-screen__text">Получите доступ всего за несколько шагов. Заполните форму ниже и откройте мир
        музыки</div>
      <div class="main-screen__form-container">
        <form action="#" class="main-screen__form">
          <div class="main-screen__form-row">
            <div class="main-screen__wrap-input">
              <input type="text" placeholder="Имя" class="main-screen__input" />
            </div>
            <div class="main-screen__wrap-input">
              <input type="email" placeholder="E-mail" class="main-screen__input" />
            </div>
          </div>
          <div class="main-screen__form-row">
            <div class="main-screen__wrap-submit">
              <button type="submit" class="main-screen__submit shine-button">Получить доступ</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>