<section class="mobapp">
    <div class="wraper">
        <div class="mobapp__container">
            <div class="mobapp__title">
                <h2>Мобильное приложение</h2>
            </div>
            <div class="mobapp__block">
                <div class="mobapp__collumn-text">
                    <p>Воспользуйтесь нашим мобильным приложением. Оно позволит слушать музыку с любого устройства на
                        базе операционных систем Androind и iOS
                    </p>
                    <p>С тарифом «Премиум» приложение позволяет скачивать все композиции из нашей коллекции. Вы можете
                        слушать музыку даже без интернета.</p>
                    <a href="#" class="mobapp__link shine-button">Скачать</a>
                </div>
                <div class="mobapp__column-img">
                    <img src="../img/iphone-1.png" alt="Приложение Music-box">
                </div>
            </div>
        </div>
    </div>
</section>