<section class="news">
  <div class="wraper">
    <div class="news__container">
      <div class="news__title">
        <h2>Последние новости</h2>
      </div>
      <div class="news__block">
        <div class="news__row">
          <div class="news__img">
            <img src="../img/Music-to-Be-Murdered-By.png" alt="" />
          </div>
          <div class="news__info">
            <div class="news__small-title">Music to Be Murdered By</div>
            <div class="news__descr">Новый альбом Eminem «Music to Be Murdered By» уже доступен в нашем сервисе. На
              альбоме вас ждёт 20 новых треков.</div>
            <div class="news__trivia">
              <a href="#" class="news__author">
                <img src="../img/avatar 1.svg" alt="" />
                Music box
              </a>
              <div class="news__date">17/01/2020</div>
            </div>
            <a href="#" class="news__link shine-button">К альбому</a>
          </div>
        </div>
        <div class="news__row">
          <div class="news__img">
            <img src="../img/Ordinary-Man.png" alt="" />
          </div>
          <div class="news__info">
            <div class="news__small-title">Ordinary Man</div>
            <div class="news__descr">Легенда рока Оззи Озборн спустя 10 лет выпустил новый альбом Ordinary Man. Слушайте
              в числе первых на Music box</div>
            <div class="news__trivia">
              <a href="#" class="news__author">
                <img src="../img/avatar 1.svg" alt="" />
                Music box
              </a>
              <div class="news__date">24/02/2020</div>
            </div>
            <a href="#" class="news__link shine-button">К альбому</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>