<section class="popular">
    <div class="wraper">
        <div class="popular__container">
            <div class="popular__title">
                <h2>Популярные треки</h2>
            </div>
            <div class="popular__block">
                <div class="popular__item">
                    <div class="popular__item-column">
                        <div class="popular__item-cover">
                            <img src="../img/track1.png" alt="">
                        </div>
                        <div class="popular__item-title">
                            <div class="popular__track-name">Spanish Step</div>
                            <div class="popular__artist">Morten Harket</div>
                        </div>
                    </div>
                    <div class="popular__item-column">
                        <div class="popular__item-duration">4:07</div>
                    </div>


                </div>
                <div class="popular__item">
                    <div class="popular__item-column">
                        <div class="popular__item-cover">
                            <img src="../img/track2.png" alt="">
                        </div>
                        <div class="popular__item-title">
                            <div class="popular__track-name">With You - With Me</div>
                            <div class="popular__artist">Morten Harket</div>
                        </div>
                    </div>
                    <div class="popular__item-column">
                        <div class="popular__item-duration">4:07</div>
                    </div>


                </div>
                <div class="popular__item">
                    <div class="popular__item-column">
                        <div class="popular__item-cover">
                            <img src="../img/track3.png" alt="">
                        </div>
                        <div class="popular__item-title">
                            <div class="popular__track-name">Brother</div>
                            <div class="popular__artist">Morten Harket</div>
                        </div>
                    </div>
                    <div class="popular__item-column">
                        <div class="popular__item-duration">4:07</div>
                    </div>


                </div>
                <div class="popular__item">
                    <div class="popular__item-column">
                        <div class="popular__item-cover">
                            <img src="../img/track1.png" alt="">
                        </div>
                        <div class="popular__item-title">
                            <div class="popular__track-name">Brodsky Tune</div>
                            <div class="popular__artist">Morten Harket</div>
                        </div>
                    </div>
                    <div class="popular__item-column">
                        <div class="popular__item-duration">4:07</div>
                    </div>


                </div>
                <div class="popular__item">
                    <div class="popular__item-column">
                        <div class="popular__item-cover">
                            <img src="../img/track2.png" alt="">
                        </div>
                        <div class="popular__item-title">
                            <div class="popular__track-name">Darkspace</div>
                            <div class="popular__artist">Morten Harket</div>
                        </div>
                    </div>
                    <div class="popular__item-column">
                        <div class="popular__item-duration">4:07</div>
                    </div>


                </div>
                <div class="popular__item">
                    <div class="popular__item-column">
                        <div class="popular__item-cover">
                            <img src="../img/track6.png" alt="">
                        </div>
                        <div class="popular__item-title">
                            <div class="popular__track-name">Burn Money Burn</div>
                            <div class="popular__artist">Morten Harket</div>
                        </div>
                    </div>
                    <div class="popular__item-column">
                        <div class="popular__item-duration">4:07</div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>