<section class="similar">
    <div class="wraper">
        <div class="similar__container">
            <div class="similar__title">
                <h2>Похожие исполнители</h2>
            </div>
            <div class="similar__block">
                <a href="#" class="similar__item">
                    <div class="similar__item-image">
                        <img src="img/artist-1.png" alt="A-Ha">
                    </div>
                    <div class="similar__item-title">A-Ha</div>
                    <div class="similar__item-count">417 086 поклонников</div>
                </a>
                <a href="#" class="similar__item">
                    <div class="similar__item-image">
                        <img src="img/artist-2.png" alt="Tears For Fears">
                    </div>
                    <div class="similar__item-title">Tears For Fears</div>
                    <div class="similar__item-count">434 086 поклонников</div>
                </a>
                <a href="#" class="similar__item">
                    <div class="similar__item-image">
                        <img src="img/artist-3.png" alt="Duran Duran">
                    </div>
                    <div class="similar__item-title">Duran Duran</div>
                    <div class="similar__item-count">631 071 поклонник</div>
                </a>
                <a href="#" class="similar__item">
                    <div class="similar__item-image">
                        <img src="img/artist-4.png" alt="Jack Savoretti">
                    </div>
                    <div class="similar__item-title">Jack Savoretti</div>
                    <div class="similar__item-count">26 857 поклонников</div>
                </a>
                <a href="#" class="similar__item">
                    <div class="similar__item-image">
                        <img src="img/artist-5.png" alt="Keane">
                    </div>
                    <div class="similar__item-title">Keane</div>
                    <div class="similar__item-count">1 704 358 поклонников</div>
                </a>
                <a href="#" class="similar__item">
                    <div class="similar__item-image">
                        <img src="img/artist-6.png" alt="Frank Sinatra">
                    </div>
                    <div class="similar__item-title">Frank Sinatra</div>
                    <div class="similar__item-count">1 653 882 поклонников</div>
                </a>
                <a href="#" class="similar__item">
                    <div class="similar__item-image">
                        <img src="img/artist-7.png" alt="Paul Young">
                    </div>
                    <div class="similar__item-title">Paul Young</div>
                    <div class="similar__item-count">50 329 поклонников</div>
                </a>
                <a href="#" class="similar__item">
                    <div class="similar__item-image">
                        <img src="img/artist-8.png" alt="Chris Rea">
                    </div>
                    <div class="similar__item-title">Chris Rea</div>
                    <div class="similar__item-count">73 351 поклонников</div>
                </a>
            </div>
        </div>
    </div>
</section>