<section class="subscribe">
  <div class="wraper">
    <div class="subscribe__container">
      <div class="subscribe__title">
        <h2>Формы подписки</h2>
      </div>
      <div class="subscribe__row subscribe__block">
        <div class="subscribe__column">
          <div class="subscribe__small-title">
            <h3>Бесплатная</h3>
          </div>
          <div class="subscribe__info">
            <div class="subscribe__price">0<sup>руб</sup></div>
            <a href="#" class="subscribe__link">ОФОРМИТЬ</a>
            <div class="subscribe__description">Оплата в месяц. Бесплатный тариф предоставляет доступ ко всей коллекции музыки. Присутствует реклама</div>
          </div>
        </div>
        <div class="subscribe__column">
          <div class="subscribe__small-title">
            <h3>Стандартная</h3>
          </div>
          <div class="subscribe__info">
            <div class="subscribe__price">250<sup>руб</sup></div>
            <a href="#" class="subscribe__link">ОФОРМИТЬ</a>
            <div class="subscribe__description">Оплата в месяц. Стандартный тариф предоставляет доступ ко всей коллекции музыки в среднем качестве</div>
          </div>
        </div>
        <div class="subscribe__column">
          <div class="subscribe__small-title">
            <h3>Премиум</h3>
          </div>
          <div class="subscribe__info">
            <div class="subscribe__price">500<sup>руб</sup></div>
            <a href="#" class="subscribe__link">ОФОРМИТЬ</a>
            <div class="subscribe__description">Оплата в месяц. Премиум тариф предоставляет доступ ко всей коллекции музыки в высоком качестве</div>
          </div>
        </div>
      </div>
      <div class="subscribe__row subscribe__text">
        На всех тарифах возможно прослушивание музыки с мобильных устройств. На премиум тарифе вы можете скачать все композиции на ваше устройство и слушать музыку без подключения к интернету
      </div>
    </div>
  </div>
</section>
